$green: #75c9b1;
$d-green: #23646f;
$yellow: #e3e9c7;
$pink: #75c9b1;
$white: #fff;

body {
  margin: 0;
  background-color: $yellow;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.alpaca {
  height: 80vmin;
  width: 62vmin;
}

.top,
.btm {
  width: 100%;
  height: 50%;
  position: relative;
}

// .top {
//   height: 60%;
// }

.head {
  width: calc( 100% / 3 );
  height: 100%;
  position: relative;
  align-items: flex-end;
}

.ears {
  height: 28%;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;

  div {
    background-color: $green;
    width: 25%;
    height: 100%;
    overflow: hidden;
    position: relative;

    &:first-child {
      border-radius: 100% 0 0 100% / 50% 0 0 50%;

      &::after {
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
        right: 10%;
      }
    }

    &:last-child {
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;

      &::after {
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
        left: 10%;
      }
    }

    &::after {
      content: '';
      display: block;
      height: 72%;
      width: 62%;
      background-color: $d-green;
      overflow: hidden;
      position: absolute;
      bottom: 5%;
    }
  }
}

.face-neck {
  height: 75%;
  width: 100%;
  background-color: $green;
  border-radius: 50% 50% 0 0 / 30% 30% 0 0;
  overflow: hidden;
}

.body {
  background-color: $green;
  position: absolute;
  width: 85%;
  height: 60%;
  border-radius: 0 0 0 30% / 0 0 0 60%;
}

.legs {
  width: 85%;
  height: 100%;
  justify-content: space-between;
}

.front,
.back {
  height: 100%;
  width: 35%;

  div {
    width: 50%;
    height: 80%;

    &:first-child {
      background-color: $d-green;
    }

    &:last-child {
      background-color: $green;
    }
  }
}

.front {
  div {
    border-radius: 0 0 100% 100% / 0 0 30% 30%;
  }
}

.back {
  div {
    border-radius: 0 0 0 80% / 0 0 0 25%;
  }
}
