$green: #75c9b1;
$d-green: #23646f;
$yellow: #e3e9c7;
$pink: #75c9b1;
$white: #fff;

@mixin pseduo-div( $width, $height ) {
  content: '';
  width: $width;
  height: $height;
  position: absolute;
}

body {
  margin: 0;
  background-color: $yellow;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.alpaca {
  height: 80vmin;
  width: 50vmin;
}

.top,
.btm {
  width: 100%;
  height: 50%;
  position: relative;
}

.top {
  justify-content: space-between;
}

.head {
  width: calc( 100% / 3 );
  height: 100%;
  position: relative;
  align-items: flex-end;
}

.ears {
  height: 28%;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;

  div {
    background-color: $green;
    width: 25%;
    height: 100%;
    position: relative;

    &:first-child {
      border-radius: 100% 0 0 100% / 50% 0 0 50%;

      &::after {
        border-radius: 100% 0 0 100% / 50% 0 0 50%;
        right: 10%;
      }
    }

    &:last-child {
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;

      &::after {
        border-radius: 0 100% 100% 0 / 0 50% 50% 0;
        left: 10%;
      }
    }

    &::after {
      content: '';
      display: block;
      height: 72%;
      width: 62%;
      background-color: $d-green;
      overflow: hidden;
      position: absolute;
      bottom: 5%;
    }
  }
}

.face-neck {
  height: 75%;
  width: 100%;
  background-color: $green;
  border-radius: 50% 50% 0 0 / 30% 30% 0 0;
  overflow: hidden;
}

.tail {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  background-color: $green;
  width: 10%;
  height: 30%;
  align-self: flex-end;
}

.body {
  background-color: $green;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 55%;
  border-radius: 0 0 50% 50% / 0 0 60% 60%;
}

.legs {
  width: 90%;
  height: 100%;
  justify-content: space-between;
}

.front,
.back {
  height: 100%;
  width: 40%;
  position: relative;

  div {
    width: 50%;
    height: 82%;

    &:first-child {
      background-color: $d-green;

      &::after {
        background-color: $d-green;
      }
    }

    &:last-child {
      background-color: $green;

      &::after {
        background-color: $green;
      }
    }

    &::after {
      @include pseduo-div( 18%, 50% );
      bottom: 0;
    }
  }
}

.front {
  div {
    border-radius: 0 0 100% 100% / 0 0 25% 25%;

    &:first-child {
      &::after {
        left: 15%;
      }
    }

    &:last-child {
      &::after {
        left: 65%;
      }
    }
  }
}

.back {
  position: relative;

  div {
    border-radius: 0 0 0 60% / 0 0 0 20%;

    &:first-child {
      &::after {
        right: 50%;
      }
    }

    &:last-child {
      &::after {
        right: 0;
      }
    }
  }
}
