body {
  margin: 0;
  background-color: #e3e9c7;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alpaca {
  width: 50vmin;
  height: 80vmin;
}

.alpaca__top, .alpaca__btm {
  width: 100%;
  height: 50%;
  position: relative;
}

.alpaca__top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head {
  width: 40%;
  height: 100%;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.head__ears {
  width: 100%;
  height: 28%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}

.head__ears div {
  background-color: #75c9b1;
  width: 25%;
  height: 100%;
  width: 25%;
  position: relative;
}

.head__ears div::after {
  content: '';
  width: 62%;
  height: 72%;
  position: absolute;
  background-color: #23646f;
  bottom: 5%;
}

.head__ears div:first-child, .head__ears div:first-child::after {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}

.head__ears div:first-child::after {
  right: 10%;
}

.head__ears div:last-child, .head__ears div:last-child::after {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}

.head__ears div:last-child::after {
  left: 10%;
}

.head__face-neck {
  width: 100%;
  height: 75%;
  background-color: #75c9b1;
  border-radius: 50% 50% 0 0 / 30% 30% 0 0;
}

.head__face-neck .face {
  position: relative;
  width: 100%;
  height: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36%;
}

.head__face-neck .face::before {
  content: '';
  width: 70%;
  height: 100%;
  position: absolute;
  background-color: #9ad7c6;
  border-radius: 50%;
}

.head__face-neck .eyes,
.head__face-neck .nose,
.head__face-neck .cheeks {
  z-index: 10;
}

.head__face-neck .eyes {
  width: 76%;
  height: 45%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -8%;
}

.head__face-neck .eyes div {
  width: 35%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__face-neck .eyes div::after {
  content: '';
  width: 45%;
  height: 45%;
  position: absolute;
  background-color: #23646f;
  border-radius: 50%;
}

.head__face-neck .nose {
  width: 20%;
  height: 15%;
  background-color: #23646f;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.head__face-neck .cheeks {
  width: 90%;
  height: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head__face-neck .cheeks div {
  width: 22%;
  height: 100%;
  background-color: #e87e70;
  border-radius: 50%;
  margin-top: -5%;
}

.tail {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  background-color: #75c9b1;
  width: 10%;
  height: 30%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.body {
  background-color: #75c9b1;
  width: 90%;
  height: 55%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 50% 50% / 0 0 60% 60%;
}

.legs {
  width: 90%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.legs__front, .legs__back {
  width: 43%;
  height: 100%;
  position: relative;
}

.legs__front div, .legs__back div {
  width: 50%;
  height: 82%;
  background-color: #75c9b1;
}

.legs__front div::after, .legs__back div::after {
  content: '';
  width: 18%;
  height: 50%;
  position: absolute;
  background-color: #75c9b1;
  bottom: 0;
}

.legs__front div:first-child, .legs__front div:first-child::after, .legs__back div:first-child, .legs__back div:first-child::after {
  background-color: #23646f;
}

.legs__front div {
  border-radius: 0 0 100% 100% / 0 0 25% 25%;
}

.legs__front div:first-child::after, .legs__front div:last-child::after {
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.legs__front div:first-child::after {
  left: 25%;
}

.legs__front div:last-child::after {
  left: 75%;
}

.legs__back {
  position: relative;
}

.legs__back div {
  border-radius: 0 0 0 60% / 0 0 0 20%;
}

.legs__back div:first-child::after {
  right: 50%;
}

.legs__back div:last-child::after {
  right: 0;
}
